**Hello World**

In [2]:
print("Hello World")

Hello World

In [3]:
# Assignment 1.1 WAP to print your name three times
print("Shina")
print("Shina")
print("Shina")

Shina
Shina
Shina

**ADD NUMBERS AND CONCATENATE**

In [4]:
a=10
b=20
c=a+b
print(a,"+",b,"=",c)

10 + 20 = 30

In [6]:
a="Shina"
b=" Garg"
c=a+b
print(c)

Shina Garg

In [7]:
a="Shina"
b=31
c=a+str(b)
print(c)

Shina31

In [8]:
# Assignment 2.1 WAP to add three nos and print result
a=10
b=20
c=30
d=a+b+c
print("a+b+c=",d)

a+b+c= 60

In [9]:
# Assignment 2.2 WAP to concatenate 3 strings
a="A"
b=" beautiful"
c=" flower"
d=a+b+c
print(d)

A beautiful flower

**INPUT FROM USER**

In [11]:
a=int(input("Enter first no"))
b=int(input("Enter second no"))
c=a+b
print(c)

Enter first string 23
Enter second string 12

35

In [12]:
a=input("Enter first string")
b=input("Enter second string")
c=a+b
print(c)

Enter first string Shina
Enter second string GArg

ShinaGArg

In [13]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [20]:
print("range(10) --->",list(range(10)))
print("range(10,20)--->",list(range(10,20)))
print("range(0,20,2)--->",list(range(2,20,2)))

range(10) ---> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)---> [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)---> [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [24]:
for i in range(0,-10,-1):
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [25]:
for i in range(1,11):
    print(5,"*",i,"=",5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
s=0
for i in range(1,11):
    s=s+i
print("Sum is:",s)

Sum is: 55

In [28]:
print("Sum is:",sum(range(1,11)))

Sum is: 55

In [30]:
#Assignment 4.1 WAP to print table of 7 and 9
for i in range(1,11):
    print(7,"*",i,"=",7*i)
for i in range(1,11):
    print(9,"*",i,"=",9*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [31]:
#Assignment 4.2 WAP to print table of n input by user
n=int(input("Enter a number:"))
for i in range(1,11):
    print(n*i)

Enter a number: 4

4
8
12
16
20
24
28
32
36
40

In [32]:
#Assignment 4.3 WAP to add all the numbers from 1 to n
n=int(input("Enter a number:"))
s=0
for i in range(1,n+1):
    s=s+i
print("sum is:",s)

Enter a number: 10

sum is: 55

**if else checking**

In [33]:
a=int(input("Enter a number"))
b=int(input("enter a number"))
if a>b:
    print("a is greater")
else:
    print("b is greater")

Enter a number 12
enter a number 43

b is greater

In [35]:
n=int(input("Enter  a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter  a number 34

Even

In [36]:
n=int(input("Enter a number"))
f=0
for i in range(2,n//2+1):
    if n%i==0:
        f=1
        break
if f==0:
    print("Prime")
else:
    print("Not Prime")

Enter a number 23

Prime

In [37]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if a==b:
    print("a=b")
elif a>b:
    print("a>b")
else:
    print("a<b")

Enter a number 23
Enter a number 12

a>b

In [40]:
#Assignment 5.1 WAP to find max among 3 nos
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
c=int(input("Enter a number:"))
if a>b:
    if a>c:
        print("A is greatest")
    else:
        print("C is greatest")
else:
    if b>c:
        print("B is greatest")
    else:
        print("C is greatest")

Enter a number: 43
Enter a number: 12
Enter a number: 2

A is greatest

In [47]:
#Assignment 5.2 WAP to add all numbers divisible by 7 and 9 from 1 to n
n=int(input("Enter a numner"))
s=0
for i in range(1,n+1):
    if (i%7==0 and i%9==0):
        s=s+i
print(s)

Enter a numner 2000

31248

In [54]:
# Assignment 5.3: WAP to add all prime numbers from 1 to n

n = int(input("Enter a number: "))
s = 0
for j in range(2, n + 1): 
    is_prime = True
    for i in range(2, int(j**0.5) + 1): 
        if j % i == 0:
            is_prime = False
            break
    if is_prime:
        s += j
print("Sum of all prime numbers from 1 to", n, "is:", s)

Enter a number:  7

Sum of all prime numbers from 1 to 7 is: 17

**Functions**

In [55]:
def ADD(a,b):
    c=a+b
    print(c)
ADD(10,12)
ADD(12,23)

22
35

In [56]:
def isPrime(n):
    for i in range(2,n//2+1):
        if n%i==0:
            return 0
    return 1
print(isPrime(7))
print(isPrime(24))

1
0

In [59]:
def AddN(n):
    s=sum(range(n+1))
    return s
print(AddN(10))

55

In [65]:
#Assignment 6.1 WAP to add all odd numbers from 1-n
n=int(input("Enter a number"))
s=0
e=0
for i in range(1,n+1):
    if i%2==0:
        e=0
    else:
        e=1
    if e==1:
        s=s+i
print(s)

Enter a number 10

25

In [66]:
#Assignment 6.2 WAP to all all prime nos from 1-n using fxns
def is_prime(num):
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True
def sum_of_primes(n):
    total = 0
    for i in range(2, n+1):
        if is_prime(i):
            total += i
    return total
n = int(input("Enter a number: "))
result = sum_of_primes(n)
print("Sum of all prime numbers from 1 to", n, "is:", result)

Enter a number:  45

Sum of all prime numbers from 1 to 45 is: 281

**MATH LIBRARY**

In [68]:
import math as m
print(m.exp(-200))
print(m.log(100,2))

1.3838965267367376e-87
6.643856189774725

**STRINGS**

In [1]:
var="Hello World"
print(var)
print(var[0])
print(var[1:5])
print(var[:-5])

Hello World
H
ello
Hello

In [2]:
name=input("Enter your name")
age=int(input("Enter your age"))
price=float(input("Enter book price"))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print(s)

Enter your name Shina
Enter your age 22
Enter book price 2000

Your name is SHINA, age is 22 and book price is 2000.000000

In [3]:
para_str="""hdgdybfjen wkjbdh tab(\t) njgfuhed[\n]bhfedgwfytfhbsbvup."""
print(para_str)

hdgdybfjen wkjbdh tab(	) njgfuhed[
]bhfedgwfytfhbsbvup.

In [5]:
var=" Indian ARmy      "
print(var)
print(len(var))
print(var.strip())

 Indian ARmy
18
Indian ARmy

In [7]:
var=" Indian, ARmy      "
print(var.split())
print(var.split(','))

['Indian,', 'ARmy']
[' Indian', ' ARmy      ']

In [12]:
var=" Indian, ARmy      "
print(var.count(" "))
print(var.count('a'))

8
2

In [13]:
var="Indian Army"
print(var)
print(var[::1])
print(var[::2])
print(var[::-1])

Indian Army
Indian Army
Ida ry
ymrA naidnI

In [14]:
s1="Indian Army"
s2="malayalam"
s3="madam"
print(s1==s1[::-1])
print(s2==s2[::-1])
print(s3==s3[::-1])

False
True
True

In [15]:
import random as r
print(r.random())
print(round(r.random(),4))

0.4381099190444411
0.396

In [16]:
import random as r
print(r.randint(1,100))
print(r.randint(-10,10))

65
-6

In [18]:
import random as r
print(r.uniform(1,100))
print(r.uniform(-10,10))

59.05351592239282
-2.103552679065672

In [19]:
import random as r
A=[1,2,3,4,5,6,7,8,9,10]
print(r.sample(A,4))
print(r.sample(range(0,100),2))

[9, 2, 8, 3]
[17, 1]

In [21]:
import string as s
import random as r
print(s.ascii_letters)
passwd=r.sample(s.ascii_letters,6)
print(passwd)
passwd1="".join(passwd)
print(passwd1)
passwd2="+".join(passwd)
print(passwd2)
passwd3="*".join(passwd)
print(passwd3)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
['J', 'I', 'X', 'E', 'B', 'n']
JIXEBn
J+I+X+E+B+n
J*I*X*E*B*n

In [24]:
import string as s
import random as r
print(s.digits)
otp=r.sample(s.digits,5)
print(otp)
otp="".join(otp)
print(otp)

0123456789
['3', '1', '8', '4', '9']
31849

In [25]:
import string as s
import random as r
print(s.ascii_letters+s.digits)
mixPAss=r.sample(s.ascii_letters+s.digits,5)
print(mixPAss)
mixpass="".join(mixPAss)
print(mixpass)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
['4', 'A', 'R', 'c', 'x']
4ARcx

Exception Handling

In [26]:
for i in range(-5,6):
    print("100/",i,"=",100/i)

100/ -5 = -20.0
100/ -4 = -25.0
100/ -3 = -33.333333333333336
100/ -2 = -50.0
100/ -1 = -100.0

ZeroDivisionError: division by zero

In [1]:
for i in range(-5,6):
    try:
        print("100/",i,"=",100/i)
    except:
        print("error")

100/ -5 = -20.0
100/ -4 = -25.0
100/ -3 = -33.333333333333336
100/ -2 = -50.0
100/ -1 = -100.0
error
100/ 1 = 100.0
100/ 2 = 50.0
100/ 3 = 33.333333333333336
100/ 4 = 25.0
100/ 5 = 20.0

In [28]:
L=[1,2,3,4,5]
for i in range(8):
    try:
        print(L[i])
    except:
        print("Error")

1
2
3
4
5
Error
Error
Error

In [29]:
fileName=input("Enter filoe name")
fp=open(fileName)
fp.close()
print("Done")

Enter filoe name fike.txt

FileNotFoundError: [Errno 2] No such file or directory: 'fike.txt'

In [30]:
fileName=input("Enter filoe name")
try:
    fp=open(fileName)
    fp.close()
except:
    print("Error")
print("Done")

Enter filoe name gh.txt

Error
Done

In [31]:
L=["Hello","World",2.4,4]
print("Original List:",L)
print(len(L))

Original List: ['Hello', 'World', 2.4, 4]
4

In [32]:
L=["Hello","World",2.4,4]
print("Original List:",L)
i=0
while i<len(L):
    print(L[i])
    i+=1

Original List: ['Hello', 'World', 2.4, 4]
Hello
World
2.4
4

In [33]:
L=["Hello","World",2.4,4]
print("Original List:",L)
for i in range(0,len(L)):
    print(L[i])

Original List: ['Hello', 'World', 2.4, 4]
Hello
World
2.4
4

In [34]:
L=["Hello","World",2.4,4]
print("Original List:",L)
for s in L:
    print(s)

Original List: ['Hello', 'World', 2.4, 4]
Hello
World
2.4
4

In [36]:
L=["Hello","World",2.4,4]
print("Original List:",L)
L.append("HI")
print(L)
del L[1]
print(L)

Original List: ['Hello', 'World', 2.4, 4]
['Hello', 'World', 2.4, 4, 'HI']
['Hello', 2.4, 4, 'HI']

In [38]:
l=[1,2,3,4,5,6]
print(l)
print(sum(l))
print(sum(l)/len(l))

[1, 2, 3, 4, 5, 6]
21
3.5

In [1]:
l=[12,3,5,4,34]
print(l)
newl=[i*5 for i in l]
print(newl)

[12, 3, 5, 4, 34]
[60, 15, 25, 20, 170]

In [2]:
l=[12,3,5,4,34]
print(l)
if(6 in l)==True:
    print("Present")
else:
    print("Not present")

[12, 3, 5, 4, 34]
Not present

Data Dictionary

In [4]:
cgpa={1:8,2:5.4,3:9.8}
print(cgpa)
print(len(cgpa))
print(cgpa[1])

{1: 8, 2: 5.4, 3: 9.8}
3
8

In [5]:
cgpa={1:8,2:5.4,3:9.8}
for i in cgpa:
    print(cgpa[i])

8
5.4
9.8

In [8]:
cgpa={1:8,2:5.4,3:9.8}
print(list(cgpa.keys()))
print(list(cgpa.values()))

[1, 2, 3]
[8, 5.4, 9.8]

In [14]:
cgpa={1:8,2:5.4,3:9.8}
cgpa[1]=9.2
print(cgpa)
del cgpa[2]
print(cgpa)
print(3 in cgpa)

{1: 9.2, 2: 5.4, 3: 9.8}
{1: 9.2, 3: 9.8}
True

Tuple

In [15]:
t=("Helo","Worls",2.3,8)
print(t)
print(len(t))
print(type(t))

('Helo', 'Worls', 2.3, 8)
4
<class 'tuple'>

In [16]:
t=("Helo","Worls",2.3,8)
print(t)
i=0
while i<len(t):
    print(t[i])
    i+=1

('Helo', 'Worls', 2.3, 8)
Helo
Worls
2.3
8

In [17]:
t=("Helo","Worls",2.3,8)
print(t)
for i in range(0,len(t)):
    print(t[i])

('Helo', 'Worls', 2.3, 8)
Helo
Worls
2.3
8

In [18]:
t=("Helo","Worls",2.3,8)
print(t)
for s in t:
    print(s)

('Helo', 'Worls', 2.3, 8)
Helo
Worls
2.3
8

In [20]:
t=("Helo","Worls",2.3,8)
print(t)
print(t[1])
print(t[-1])
print(t[1:3])

('Helo', 'Worls', 2.3, 8)
Worls
8
('Worls', 2.3)

In [22]:
t=(10,4,2.3,8)
print(t)
print(sum(t))

(10, 4, 2.3, 8)
24.3

In [23]:
t1=("Helo","Worls",2.3,8)
t2=(10,4,2.3,8)
t=t1+t2
print(t)

('Helo', 'Worls', 2.3, 8, 10, 4, 2.3, 8)

SET

In [24]:
s=set(['A','B','C','D','E','F'])
print(s)
print(len(s))

{'A', 'B', 'D', 'F', 'E', 'C'}
6

In [25]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a + b
print (a, " + ", b, " --> ", c)

['C:\\Users\\dell\\miniconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\dell\\AppData\\Roaming\\jupyter\\runtime\\kernel-fc998d10-0a87-458c-93c8-2031d628c4a6.json']

ValueError: invalid literal for int() with base 10: '-f'

In [26]:
import sys
print (sys.argv)
s = sys.argv[1] + " " + sys.argv[2]
print (sys.argv[1], " + ", sys.argv[2], " --> ", s)

['C:\\Users\\dell\\miniconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\dell\\AppData\\Roaming\\jupyter\\runtime\\kernel-fc998d10-0a87-458c-93c8-2031d628c4a6.json']
-f  +  C:\Users\dell\AppData\Roaming\jupyter\runtime\kernel-fc998d10-0a87-458c-93c8-2031d628c4a6.json  -->  -f C:\Users\dell\AppData\Roaming\jupyter\runtime\kernel-fc998d10-0a87-458c-93c8-2031d628c4a6.json

In [27]:
import sys
print (sys.argv)
sum=0
for s in sys.argv[1:]:
	sum += int(s)

print ("Sum is --> ", sum)

['C:\\Users\\dell\\miniconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\dell\\AppData\\Roaming\\jupyter\\runtime\\kernel-fc998d10-0a87-458c-93c8-2031d628c4a6.json']

ValueError: invalid literal for int() with base 10: '-f'

In [28]:
fp=open('result.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [31]:
fp=open('result.txt')		
for line in fp: 		   
	print (line.strip())
fp.close()

1
2
3
4
5
6
7
8
9
10

In [30]:
Readfp=open('result.txt')		
Writefp=open('abc.txt','w')	
for line in Readfp:
	Writefp.write(line.upper())

Writefp.close()
Readfp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content